/* Universal styles */

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  max-width: 2000px;
}

.headline,
.section-title,
.section-header {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.headline,
.section-title {
  font-size: 2rem;
}

a:link,
a:visited,
/* a:hover, */
a:active {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* CSS for Header (Top banner & Navigation)  */

.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed red;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

.logo-text {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.logo-text.colmar {

}

.logo-text.academy {
  color: lightgrey;
}

.desktop-navigation {
  display: inline-block;
  margin-right: 1.5rem;
}

.desktop-navigation a {
  font-size: 1rem;
  text-decoration: none;
  margin-left: 1rem;
}

/* Page Content divided into four "Sections": .banner, .information, .courses, & .thesis */
  /* Top level organization: Center page content vertically */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  max-width: 100%;
  border: 1px dashed green;
}
  /* Second order organization: .banner, .information, & .thesis sections have horizontal flex containers w/ .main-content on the left and .supporting-content on the right; .courses contains an horizontal flexbox "image-gallery" of .courses-category "containers" (w/ flex-wrap enabled), adjust size of "containers" as required; FOR Tablet & Mobile Layout, these flexboxes change to flex-direction: column */

#banner>.content,
#information>.content,
#thesis>.content {
  display: flex;
  padding-left: 1.5rem;
}

.section-title {
  margin-bottom: 2rem;
}

.main-content {
  width: 60%;
  border: 1px dashed purple;
}

.supporting-content {
  width: 40%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  border: 1px dashed red;
}


@media screen and (max-width: 790px) {
  #banner>.content,
  #information>.content,
  #thesis>.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5rem;
  }

  .main-content,
  .supporting-content {
  width: 100%;
  }
}

#banner .supporting-content {
  justify-content: center;
}

.supporting-content-container {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
}

  /* Second order organization: #courses section is has a flex container w/ individual boxes describing course-curriculum/categories -- mobile view switches to vertical column with div boxes  */
#courses .content {
display: flex;
flex-direction: column;
align-items: center;
padding-left: 0;
}

/* .supporting-content-container img {
  width: 35%;
  height: auto;
  dis;
} */
/*
#information .image-container {
  width: 35%;
  overflow: hidden;
}
*/
#information .supporting-content-container>.content,
#thesis .supporting-content-container>.content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.main-content img {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

.supporting-content img {
  width: 35%;
  height: auto;
  display: block;
  overflow: hidden;
}

#banner .button {
  color: white;
  background-color: black;
  padding: .5rem 3rem;
}

    /* formating of quote in .banner section */
q, cite {
  display: block;
}


.courses-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  border: 1px dashed red;
}

.courses-category img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

  /* Media queries to resize the .courses-category containers when they transition from a 2row x 3 column grid to a 3row x 2 column grid */
  @media only screen and (min-width: 1093px) {
  .courses-category {
    width: 30%;
    margin: 1rem;
  }
}

  @media only screen and (max-width: 1092px) {
  .courses-category {
    width: 45%;
    margin: 1rem;
}

.course-offerings-preface {
  text-transform: uppercase;
}




/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1.5rem;
}

/* Adjust sizes of video player to webpage size here */

  video {
    width: 800px;
  }

  @media only screen and (max-width: 1400px) {
    video {
      width: 700px;
    }
  }

  @media only screen and (max-width: 1240px) {
    video {
      width: 600px;
    }
  }

  @media only screen and (max-width: 1080px) {
    video {
      width: 500px;
    }
  }

  @media only screen and (max-width: 890px) {
    video {
      width: 400px;
    }
  }

/* Media queries to switch elements from desktop-veiw elements to mobile-view elements */

@media only screen and (min-width: 701px) {
  .mobile-header {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .desktop-header {
    display: none;
  }

  .mobile-header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
