/* Universal styles */

html {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

body {
  max-width: 2000px;
}


.desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed red;
}

.logo {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  margin-left: 1.5rem;
}

.logo img {
  height: 2rem;
}

.logo-text {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo-text.colmar {

}

.logo-text.academy {
  color: lightgrey;
}

.desktop-navigation {
  display: inline-block;
  margin-right: 1.5rem;
}

.desktop-navigation a {
  font-size: 1rem;
  text-decoration: none;
  margin-left: 1rem;
}

section {
  max-width: 100%;
  border: 1px dashed green;
}

section>.content {
  display: flex;
  padding-left: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner .content .main-content,
.information .content .main-content,
.thesis .content .main-content {
  width: 60%;
}

.banner .content .supporting-content,
.information .content .supporting-content,
.thesis .content .supporting-content, {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px dashed red;
}

section .content .main-content img,
section .content .supporting-content img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.banner .button {
  color: white;
  background-color: black;
  padding: .5rem 3rem;
}

q, cite {
  display: block;
}

.supporting-content-container {
    display: flex;
    /* width: 100%; */
}

.supporting-content-container img {
  width: 35%;
  height: auto;
  margin-left: 1.5rem;
}

.supporting-content-container .content {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.supporting-content-container>* {
  margin-left: 1.5rem;
}


.courses .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}

.courses-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  border: 1px dashed red;
}

.courses-category {
  width: 30%;
  margin: 1rem;
  /* border: 1px dashed gray; */
}

.courses-category img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.course-offerings-preface {
  text-transform: uppercase;
}
